@import "tailwindcss";

/* Кастомный неоновый скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(2, 6, 23, 0.6);
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(6, 182, 212, 0.4);
    border-radius: 8px;
    border: 1px solid rgba(34, 211, 238, 0.6);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 211, 238, 0.8);
    box-shadow: 0 0 10px #22d3ee;
}

/* Подключите этот файл в app/layout.jsx:  import "./system.css"; */
.clip-path-sci {
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.15s ease-out forwards;
}